@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --padding: 40px 80px;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(./images/bg-desktop.svg), hsl(257, 40%, 49%);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
}
.header {
  position: relative;
  padding: 15px;
}

.header img {
  width: 200px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  margin: auto;
  justify-content: center;
}
.left {
  flex: 1 1 60%;
}
.left img {
  width: 100%;
  /* width: 700px; */
  /* height: 500px; */
}
.right {
  flex: 1 1 40%;
  padding: 15px;
}
.right > * {
  padding: 15px;
}
.right h1 {
  font-size: 38px;
  font-family: "Poppins";
}

.register {
  padding: 15px;
  margin: 20px;
  font-weight: 700;
  text-align: center;
  width: 200px;
  background: rgb(255, 255, 255);
  color: hsl(257, 40%, 49%);
  border-radius: 30px;
}
.register:hover {
  background: hsl(300, 69%, 71%);
  color: rgb(255, 255, 255);
}

.social {
  display: block;
  text-align: right;
  padding: 15px 30px;
}
.social a{
  text-decoration: none;
  color: inherit;
}
ion-icon {
  font-size: 40px;
  padding: 10px;
}
ion-icon:hover {
color: hsl(300, 69%, 71%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 15px;
}
.attribution a {
  color: hsl(228, 25%, 72%);
}
@media only screen and (max-width: 720px) {
  :root {
    --padding: 10px 10px;
  }
  body {
    background: url(./images/bg-mobile.svg), hsl(257, 40%, 49%);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .right {
    text-align: center;
  }
  .right h1 {
    font-size: 24px;
  }
  .social {
    display: block;
    text-align: center;
  }
  .register {
    margin: 20px auto;
    width: 200px;
  }
  .social {
    display: block;
    text-align: center;
    padding: 15px 30px;
  }
  .header img {
    width: 140px;
  }
}
