* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(./images/bg-desktop.svg), hsl(257, 40%, 49%);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.header {
  position: relative;
  padding: 15px;
}
.header img {
  width: 200px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  margin: auto;
  justify-content: center;
}
.left {
  flex: 1 1 55%;
}
.left img {
  width: 100%;
}
.right {
  flex: 1 1 45%;
  padding: 15px;
}
.right > * {
  padding: 15px;
}
.register {
  padding: 15px;
  margin: 20px;
  font-weight: 700;
  width: 40%;
  background: lightgray;
  color: hsl(300, 69%, 71%);
  border-radius: 20px;
}

ion-icon {
  font-size: 64px;
}
